header {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#searchBar {  
  height: 9vh;
  width: 45vw;
  outline: none; /* Removes hoverihg outline*/
  background-color: #1e1f20;
  color: #acb0b4;
  font-size: 2.5vh;
  border-radius: 6vh;
  border: none;
  padding: 0;
  padding-left: 2vw;
  padding-right: 6vw; /*To fit submit btn inside the input*/
  box-shadow: 0vh 0vh 0vh #1e1f20;
  transition:
    background-color 0.8s,
    width 0.8s;
}

#searchBar:hover {
  background-color: #282a2c;
  box-shadow: 0vh 0vh 1vh #1e1f20;
  width: 47vw;
}

#submitBtn {
  margin-left: -5vw; /*To fit submit btn inside the input*/
  height: 5vh;
  width: 5vh;
  font-size: 2.5vh;
  background-color: transparent;
  background-image: url(../../media/submit.png);
  background-size: cover;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  color: transparent;
  transition: background-color 0.2s;
}

#submitBtn:hover {
  background-color: #282a2c;
}
