<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta href="https://www.flaticon.com/free-icons/submit">
  <link rel="stylesheet" href="../../static/main/css/main.css"></link>
  <link rel="stylesheet" href="../../static/main/css/searchBar.css"></link>
  <link rel="stylesheet" href="../../static/main/css/newsDisplay.css"></link>
  <title>newsScrapper</title>
</head>
<body>
  <div id="searchBarContainer">
    <form action="/search" method="POST">
      <input id="inputBox" name="query" placeholder="Search">
      <button id="searchBtn" type="submit">xx</button>
    </form>
  </div>
  <div id="newsDisplayerContainer">
    <div id="mainTextContainer">
      <p id="mainText" class="mainTextStyle">Search and Analyse</p>
      <p id="toggleText" class="mainTextStyle">News</p>
    </div>
  </div>
  <script src="../../static/main/js/toggleText.js"></script>
  <script src="../../static/main/js/submitLogic.js"></script>
</body>  
</html>