<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/main/main.css"></link>
  <link rel="stylesheet" href="../static/main/searchBar.css"></link>
  <link rel="stylesheet" href="../static/main/newsDisplay.css"></link>
  <title>newsScrapper</title>
</head>
<body>
  <div id="searchBarContainer">
    <input id="inputBox" placeholder="Search">
  </div>
  <div id="newsDisplayerContainer">
    Other data will be displayed here
  </div>
</body>  
</html>