#searchBarContainer {
  height: 30vh;
  width: 100%;
  text-align: center;
  background-color: #131314;
  transition: 
    opacity 2s,
    transform 2s,
    display 0s 2s;
}

#inputBox {
  margin-top: 20vh;
  height: 11vh;
  width: 45vw;
  outline: none; /* Removes hoverihg outline*/
  background-color: #1e1f20;
  color: #acb0b4;
  font-size: 3vh;
  border-radius: 6vh;
  border: none;
  padding: 0;
  padding-left: 2vw;
  padding-right: 6vw; /*To fit submit btn inside the input*/
  box-shadow: 0vh 0vh 0vh #1e1f20;
  transition:
    background-color 0.8s,
    width 0.8s;
}

#inputBox:hover {
  background-color: #282a2c;
  box-shadow: 0vh 0vh 1vh #1e1f20;
  width: 47vw;
}

#searchBtn {
  margin-left: -6vw; /*To fit submit btn inside the input*/
  height: 6vh;
  width: 6vh;
  font-size: 3vh;
  background-color: transparent;
  background-image: url(../../media/submit.png);
  background-size: cover;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  color: transparent;
  transition: background-color 0.2s;
}

#searchBtn:hover {
  background-color: #282a2c;
}