<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/main/css/main.css"></link>
  <link rel="stylesheet" href="../../static/search/css/searchStyles.css"></link>
  <title>newsScrapper</title>
</head>
<body>
  <header>
    <form action="/search" method="POST">
      <input id="searchBar" name="query" placeholder="Keep looking around...">
      <button id="submitBtn" type="submit">xx</button>
    </form>
  </header>
  <div id="resultsContainer">
    <ul>
    {% for key, value in data.items() %}
      <a class="anchorN" href="{{ value[1] }}">
        <div class="nResultContainer">
          <h1>{{ value[0] }}</h1>
        </div>  
      </a>
    {% endfor %}
    </ul>
  </div>
</body>  
</html>